.loginBtn.text-center
  a.btn.login.start-game Start Game
.pick-race-panel.left-panel
  .race-menu-container.container.col-sm-6
    h3.info Pick the race you want to play with!
    .cl-effect-10.btn-group
      a.race-choice(href='#', data-hover='#{raceOne}')
          span !{raceOne}
      a.race-choice(href='#', data-hover='#{raceTwo}')
        span !{raceTwo}
      a.race-choice(href='#', data-hover='#{raceThree}')
        span !{raceThree}
      a.race-choice(href='#', data-hover='#{raceFour}')
        span !{raceFour}
      a.race-choice(href='#', data-hover='#{raceFive}')
        span !{raceFive}
    .badge Locked race*
      i.fa.fa-lock
    p
      | Subscribe to our 
      a(href='http://eepurl.com/MvxdX', target="_blank") newsletter
      |  for news about the upcoming race!
    .race-portrait
  .sun-menu-container.container.col-sm-6
    h3.info Customize your starting solar system!
    .planets-container
      img.planet.planet-bottom(src="/images/planets/planet1.png")
      .overlay-bottom.overlay
      img.planet.planet-top(src="/images/planets/planet2.png")
      .overlay-top.overlay
      img.planet.planet-left(src="/images/planets/planet3.png")
      .overlay-left.overlay
      img.planet.planet-right(src="/images/planets/planet5.png")
      .overlay-right.overlay
    .choices-list
      .choice.sun-choice.ease-all(data-id=0)
        p Sun Type: Alpha Centauri
      .choice.sun-choice.ease-all(data-id=1)
        p Sun Type: Kopernik
      p Upload your own     
        i.fa.fa-lock
    .sun-type