.loginBtn.text-center
  a.btn.login.start-game Start Game
.pick-race-panel.left-panel
  .race-menu-container.container.col-sm-6
    h3.info Pick the race you want to play with!
    .choices-list
      .choice.race-choice.ease-all
        p !{raceOne}
      .choice.race-choice.ease-all
        p !{raceTwo}
      .choice.race-choice.ease-all  
        p !{raceThree}
      .choice.race-choice.ease-all
        p !{raceFour}
      .choice.race-choice.ease-all
        p !{raceFive}
      .badge Locked race*
        i.fa.fa-lock
      p * Subscribe to our newsletter for news
  .sun-menu-container.container.col-sm-6
    h3.info Customize your starting solar system!
    .planets-container
      img.planet.planet-bottom(src="/images/planets/planet1.png")
      .overlay-bottom.overlay
      img.planet.planet-top(src="/images/planets/planet2.png")
      .overlay-top.overlay
      img.planet.planet-left(src="/images/planets/planet3.png")
      .overlay-left.overlay
      img.planet.planet-right(src="/images/planets/planet5.png")
      .overlay-right.overlay
    .choices-list
      .choice.sun-choice.ease-all(data-id=0)
        p Alpha Centauri
      .choice.sun-choice.ease-all(data-id=1)
        p Kopernik
      p Upload your own     
        i.fa.fa-lock
    .sun-type