.loginBtn.text-center
  a.btn.login.start-game Start Game
.pick-race-panel.left-panel
  .race-menu-container.sci-fi-container.col-sm-6
    h3.info Pick the race you want to play with!
    .btn-group-cl-effect
      a.race-choice(href='#', data-hover='#{raceOne}', data-id="0")
          span !{raceOne}
      a.race-choice(href='#', data-hover='#{raceTwo}', data-id="1")
        span !{raceTwo}
      a.race-choice(href='#', data-hover='#{raceThree}', data-id="2")
        span !{raceThree}
      a.race-choice(href='#', data-hover='#{raceFour}', data-id="3")
        span !{raceFour}
      a.race-choice(href='#', data-hover='#{raceFive}', data-id="4")
        span !{raceFive}
      a.race-choice(href='#', data-hover='#{raceSix}', data-id="4")
        span !{raceSix}
    .badge Locked race*
      i.fa.fa-lock
    p
      | Subscribe to our 
      a(href='http://eepurl.com/MvxdX', target="_blank") newsletter
      |  for news about the upcoming race!
    p 
      | Your color & communications #hashtag will be: 
      span.race-hashtag-color 
    .race-portrait
      img.race-image
  .sun-menu-container.sci-fi-container.col-sm-6
    h3.info Choose the type of sun for your solar system!
    .planets-container
      img.planet.planet-bottom(src="/images/planets/planet1.png")
      .overlay-bottom.overlay
      img.planet.planet-top(src="/images/planets/planet2.png")
      .overlay-top.overlay
      img.planet.planet-left(src="/images/planets/planet3.png")
      .overlay-left.overlay
      img.planet.planet-right(src="/images/planets/planet5.png")
      .overlay-right.overlay
    .btn-group-cl-effect
      a.sun-choice(href='#', data-hover='Kopernik', data-id="0")
        span Kopernik
      a.sun-choice(href='#', data-hover='Acamar', data-id="1")
        span Acamar
      p Upload your own     
        i.fa.fa-lock
    img.sun-type(src="/images/suns/sun0.png")