button.close-btn
  span.glyphicon.glyphicon-remove
.popover-content
  .player-info 
    a.player-name(href='http://www.twitter.com/'+playerName, target='_blank')  !{playerName}
    img.player-avatar(src="#{twitterAvatar}")
  .planet-production
    span !{planetProduction} 
    span  pilots/minute
  .planet-category
    span#category !{planetCategory}
    span.planet-link !{planetLink}
  .mission-buttons
    .attack.btn.btn-default Attack
    .spy.btn.btn-default Spy
    .supply.btn.btn-default Supply
