.arrow
h5.popover-title
  a.player-name(href='http://www.twitter.com/'+playerName, target='_blank')  !{playerName}
  a.close-btn(href="#")
    i.icon-remove.pull-right
.popover-content
  .row-fluid
    img.player-avatar.span4(src="#{twitterAvatar}")
    .meta-information.span8
      p.float-right(style='white-space:pre;')
        span.planet-production !{planetProduction} 
        span  ships/minute
      .pull-right
        .attack.btn Attack
        .spy.btn Spy
        .supply.btn Supply
    .pull-right.span12
      i.icon-globe
      !{planetCategory}
      span !{planetLink}
